# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de build
dist/
build/

# Arquivos temporários
tmp/
temp/

# Arquivos de upload
uploads/
img/ 